<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExifLib.PCL" version="1.0.2-pre01" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="xamarinios10" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="PInvoke.BCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Kernel32" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.NCrypt" version="0.3.2" targetFramework="xamarinios10" />
  <package id="PInvoke.Windows.Core" version="0.3.2" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Validation" version="2.2.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Auth" version="1.5.0.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.0.91635" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.CarouselView" version="2.3.0-pre2" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.3.0-pre05" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.3.0-pre05" targetFramework="xamarinios10" />
</packages>